.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cards {
  margin: 100px 450px;
}

.card {
  margin-top: 40px;
  box-shadow: 4px 5px 25px 4px rgba(255, 255, 255, 0.283);
  transition: all 0.1s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 4px 10px 25px 8px rgba(254, 254, 254, 0.345);
}


body {
  background-color: #282c34;
  color: white;
}